[
  {
    "product_id": "1005007709578258",
    "product_title": "DC 3.3V 3.7V 5V LED Driver 30-1500MA Constant Current Adjustable Module PWM Control Board for USB LED flashlight 18650 Li-ion",
    "product_attr": "10PCS",
    "product_link": "https://www.aliexpress.com/item/1005007709578258.html",
    "product_image": "https://ae01.alicdn.com/kf/S8eeecb484a624957bb4da31516bd26d2E.jpg",
    "product_amount": "x1",
    "product_price": "\uffe12.89",
    "Voltage/Power": "2.8-6V DC Input",
    "Material": "Plastic/PCB",
    "Dimensions": "18mm x 10.3mm x 2.8mm; 0.56g",
    "Certifications": "None listed",
    "Key_Specs": "PWM Control; 30-1500mA adjustable current; Operating temp: -20~105\u2103",
    "location": ""
  },
  {
]